* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

html {
    font-size: 62.5%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: rgb(242, 244, 248);
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $light-orange;
    border: 2px solid rgb(242, 244, 248);
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    text-decoration: unset;
    color: #047adf;
}

.auth-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: $light-orange;
}

.auth-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0px 0px;
    margin: 0px 60px 0px 0px;
}

#croneye {
    color: $brand-blue;
    font-size: 40px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: "600";
}

.auth__logo {
    margin: 0px 5px;
    width: 60px;
    height: 80px;
}

.croneye-title {
    text-align: center;
}

.prod-description {
    font-size: 20px;
    margin-top: 20px;
    color: #000;
    font-weight: 300;
}
