.filters-container,
.logs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 30px;
}

.filters-container {
    padding-bottom: 0px;
}

.logs-container {
    padding-top: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filter-row {
    margin: 20px 0px 10px 0px;
}

.table-container {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.table-header,
.accordian-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

.accordian-container,
.table-header {
    border-bottom: 2px solid #f0f1f5;
}

.table-header {
    color: $brand-blue;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    background-color: #f9fbfc;
}

.column-1 {
    width: 20px;
}

.column-text {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-2,
.column-3 {
    width: 15%;
}

.column-4,
.column-5 {
    width: 20%;
}

.column-6 {
    width: 10%;
}

.column-7 {
    width: 25%;
}

.event-tag {
    padding: 4px 6px;
    border-radius: 5px;
    width: fit-content;
}

.accordian-content {
    transition: min-height 0.3s ease;
    min-height: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-start;
}

.accordian-content.active {
    padding: 10px 40px 20px 40px;
}

.accordian-content-block {
    display: flex;
    flex-direction: column;
}

.accordian-content-sub-block {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #f0f1f5;
    border-radius: 10px;
    background-color: #f0f1f5;
}

.accordian-content-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    margin: 8px 0px;
}

.accordian-content-key {
    font-weight: 400;
    font-style: italic;
    width: 120px;
}

.accordian-content-value {
    margin-left: 10px;
    white-space: pre-line;
}
