.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 30px;
}

.block-title {
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;
    font-weight: 800;
    color: $brand-blue;
}

.summary-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}

.card-container {
    width: 200px;
    background-color: white;
    padding: 20px 10px;
    margin: 0px 10px;
    border-radius: 10px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 14px;
    font-weight: 300;
}

.card-value {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.graph-event-block:hover {
    cursor: pointer;
}

.tooltip {
    background: rgb(49, 54, 57);
    color: rgb(249, 249, 249);
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 11px;
    padding: 5px 5px;
}

#tooltip-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels,
.label-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.labels {
    margin: 5px 0px 25px 0px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ylabel-title {
    font-weight: 500;
    font-size: 15px;
}

.job-status-div {
    margin-top: 8px;
}
