@import "../../common/styles/settings";
@import "./header";
@import "./summary";
@import "./logs";
@import "./paginator";
@import "../../common/styles/select_dropdown";

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 70px);
    background-color: $background;
}
