.ms-field {
    width: 150px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    margin: 5px 10px;
    position: relative;
}

.ms-field-big {
    width: 250px;
}

.ms-field:hover,
.ms-field:active {
    border: 1px solid black;
}

.ms-selected-pop {
    position: absolute;
    z-index: 10;
    top: -3px;
    right: 3px;
    padding: 2px 6px;
    background-color: $brand-blue;
    border-radius: 50px;
    color: white;
}

.cancel-canvas {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: absolute;
}

.modal {
    width: 150px;
    height: 170px;
    background: white;
    color: black;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2px;
    margin-left: 10px;
}

.modal-big {
    width: 250px;
}

.ms-option {
    display: flex;
    flex-direction: row;
    margin: 8px 5px;
}

.ms-option-value {
    margin-left: 10px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.ms-option-value-big {
    width: 200px;
}

input[type="checkbox"]:checked {
    accent-color: $brand-blue;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px 10px;
}

.good-action-btn {
    border: 2.5px solid $brand-blue;
    background-color: white;
    color: black;
}

.good-action-btn:hover {
    background-color: $brand-blue;
    color: white;
}

.bad-action-btn {
    border: 2.5px solid rgb(241, 126, 126);
    background-color: white;
    color: black;
}

.bad-action-btn:hover {
    background-color: rgb(241, 126, 126);
    color: black;
}
