// Colors
$brand-yellow: #fc951e;
$brand-blue: #0a64a5;
$brand-red: #ff4d2c;
$background: #f3f1ef;

$light-orange: #f4f2eb;
$light-blue: #cbe5fd;
$light-violet: #d6cbe7;
$light-yellow: #ece0ae;
$light-green: #b7dfbe;

$flash-common: #c8edff;
$flash-common-border: #03788b;
$flash-success: #ccf0cd;
$flash-success-border: #08ac03;
$flash-warning: #fffbc8;
$flash-warning-border: #f3ef0b;
$flash-danger: #f0cccc;
$flash-danger-border: #ff4242;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

html {
    font-size: 62.5%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: white;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7b7a78;
    border: 0px solid #7b7a78;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    text-decoration: unset;
    color: #047adf;
}

body {
    background-color: white;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.good-action-btn {
    border: 3px solid $brand-blue;
    background-color: white;
    color: black;
}

.good-action-btn:hover {
    background-color: $brand-blue;
    color: white;
}

.bad-action-btn {
    border: 3px solid #ff4242;
    background-color: white;
    color: black;
}

.bad-action-btn:hover {
    background-color: #ff4242;
    color: white;
}

.flash-msg {
    background-color: $flash-common;
    border: 1.5px solid $flash-common-border;
    color: black;
    margin: 10px 0px;
    /* padding: 10px; */
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.flash-msg__msg {
    padding: 10px 0px;
    text-align: center;
}

.flash-msg-modal-close {
    font-size: 25px;
    margin: 0px 10px;
    cursor: pointer;
}

.success {
    background-color: $flash-success;
    border: 1.5px solid $flash-success-border;
    padding-left: 10px;
}

.warning {
    background-color: $flash-warning;
    border: 1.5px solid $flash-warning-border;
    padding-left: 10px;
}

.failure {
    background-color: $flash-danger;
    border: 1.5px solid $flash-danger-border;
    padding-left: 10px;
}
