// Colors
$brand-yellow: #fc951e;
$brand-blue: #0a64a5;
$brand-red: #ff4d2c;
$background: #f3f1ef;

$light-orange: #f4f2eb;
$light-blue: #cbe5fd;
$light-violet: #d6cbe7;
$light-yellow: #ece0ae;
$light-green: #b7dfbe;

$flash-common: #c8edff;
$flash-common-border: #03788b;
$flash-success: #ccf0cd;
$flash-success-border: #08ac03;
$flash-warning: #fffbc8;
$flash-warning-border: #f3ef0b;
$flash-danger: #f0cccc;
$flash-danger-border: #ff4242;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

html {
    font-size: 62.5%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: white;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7b7a78;
    border: 0px solid #7b7a78;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    text-decoration: unset;
    color: #047adf;
}

body {
    background-color: white;
}
