// Colors
$brand-yellow: #ffab4b;
$brand-blue: #0a64a5;

$light-orange: #f4f2eb;
$light-blue: #cbe5fd;
$light-violet: #d6cbe7;
$light-yellow: #ece0ae;
$light-green: #b7dfbe;

$flash-common: #c8edff;
$flash-common-border: #03788b;
$flash-success: #c8ffcb;
$flash-success-border: #08ac03;
$flash-warning: #fffbc8;
$flash-warning-border: #f3ef0b;
$flash-danger: #ffc8c8;
$flash-danger-border: #fc1b1b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

html {
    font-size: 62.5%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: rgb(242, 244, 248);
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $light-orange;
    border: 2px solid rgb(242, 244, 248);
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    text-decoration: unset;
    color: #047adf;
}

body {
    background-color: #f8f8f8;
}
