// Colors
$brand-orange: #f4f2eb;
$brand-green: #c2e8b6;

$light-blue: #cbe5fd;
$light-violet: #d6cbe7;
$light-yellow: #ece0ae;
$light-green: #b7dfbe;

$flash-common: #c8edff;
$flash-common-border: #03788b;
$flash-success: #c8ffcb;
$flash-success-border: #08ac03;
$flash-warning: #fffbc8;
$flash-warning-border: #f3ef0b;
$flash-danger: #ffc8c8;
$flash-danger-border: #fc1b1b;
